<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hao.flutter_parental_control">
    <!-- Quyền truy cập vào thông tin sử dụng -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <!-- quyền chạy nền-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <!--quyền hiển thị trên ứng dụng khác-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--quyền truy cập vào thông tin vị trí-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <service android:name=".service.InstallAppService"
            android:exported="true"
            android:stopWithTask="false"
            android:enabled="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.FOREGROUND_SERVICE">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="explanation_for_special_use"/>
        </service>

        <service
            android:name=".service.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

<!--        <meta-data android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyCx10qvRhgY2575ZnLchGC2iTDfS5Airlc"/>-->

    </application>
</manifest>
